@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

#side1 {
  background-color: #f8ad9d;
  height: 100vh;
}
nav ul {
  display: flex;
  gap: 70px;
}

nav li {
  list-style: none;
  color: #f08080;
  text-shadow: 1px 2px 8px rgba(180, 60, 60, 0.25);
}

nav a {
  color: #f08080;
  text-decoration: none;
}
nav a:hover {
  color: white;
  transition: 0.3s;
}
nav {
  font-size: 20px;
}

header {
  color: white;
  padding: 30px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "playwrite";
}

.container {
  max-width: 800px;
  margin: auto;
}

.bilde {
  width: 200px;
}

#side2 {
  height: 100vh;
  background-color: #fbc4ab;
}

#side3 {
  height: 100vh;
  background-color: #ffdab9;
}
.bilder {
  height: 200px;
  width: 160px;
  flex-shrink: 0;
}
.scroll {
  display: flex;
  align-items: center;
  max-width: 950px;
  margin: auto;
  overflow-x: auto;
  border: 2px solid white;
}

.overskrift {
  color: #f08080;
  justify-content: center;
  text-align: center;
  font-size: 70px;
  font-family: "Playfair Display";
  margin-top: 60px;
  margin-bottom: 80px;
  text-shadow: 1px 2px 8px rgba(180, 60, 60, 0.25);
}

.anbefal {
  font-size: 60px;
  justify-content: center;
  text-align: center;
  padding: 50px;
  color: #f08080;
}

.filmer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 80px;
}

.film {
  width: 300px;
  height: 400px;
  background-color: #ffdab9;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f08080;
}

.film:hover {
  transform: scale(1.08);
}


.favfilm {
  height: 300px;
  width: 200px;
  margin: auto;
  margin-top: 40px;
}

h3 {
  margin-top: 20px;
}

 .anbefalinger section  {
  width: 900px;
  min-height: 600px;
  margin-top: 80px;
  border-radius: 20px;
  background-color: rgb(255, 240, 250);
  padding: 20px;
  display: flex;
  margin: auto;
}
.bildeside2 {
  height: 500px;
  width: 400px;
  margin-left: 30px;
  margin-top: 40px;
  margin-right: 30px;
}
.overskrift2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 50px;
}

.displaynone {
  display: none;
}

#side4 {
  background-color: rgb(251, 219, 234);
  height: 100vh;
}

.teksten {
  color: #f08080;
  margin-left: 30px;
  line-height: 1.5;
}

.lesmer {
  padding: 20px;
  border-radius: 40px;
  background-color: #f08080;
  color: white;
  width: 350px;
  margin-top: 30px;
  border: solid #f8ad9d 1px;
}
.thenotebook {
  background-color: rgb(251, 219, 234);
  margin-top: 100px;
}

#side5 {
  height: 100vh;
  background-color: rgb(255, 240, 250);
  padding-top: 1px;
}
#side6 {
  height: 100vh;
  background-color: rgb(251, 219, 234);
  padding-top: 1px;
}
.interstellar {
  background-color: rgb(255, 240, 250);
  margin-top: 100px;
}
