@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

#side1 {
  background-color: #F8AD9D; 
  height: 100vh;
}
nav ul {
  display: flex;
  gap: 70px;
}

nav li {
  list-style: none;
  color: #F08080;
}

nav a {
  color: white;
}

nav {
  font-size: 20px;
  
}

header {
  color: white;
  padding: 30px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "playwrite";
}

.container {
  max-width: 800px;
  margin: auto;
}

.bilde {
  width: 200px;
  
}

#side2 {
  height: 100vh;
  background-color: #FBC4AB;
}

#side3 {
  height: 100vh;
  background-color: #FFDAB9;
}
.bilder {
  height: 200px;
  width: 160px;
  flex-shrink: 0;
}
.scroll {
  display: flex;
  align-items: center;
  max-width: 950px;
  margin: auto;
  overflow-x: auto;
  border: 2px solid white;
}

.overskrift {
  color:#F08080; 
  justify-content:center ;
  text-align: center;
  font-size: 70px;
  font-family: "Playfair-Display";
  margin-top: 60px;
  margin-bottom: 80px;
}

.anbefal {
  font-size: 60px;
  justify-content: center;
  text-align: center;
  padding: 50px;
  color:#F08080;
}

.filmer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.film {
  width: 500px;
  height: 400px;
  background-color:#FFDAB9;
}